# Dependency directories
node_modules/

# Build outputs
.expo/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
